extends layout

block content
 h1 Update todo
 form(action='/todo/#{todo._id}', method='POST')
  p
   input(type='text', placeholder='edit todo', name='todo-text', value='#{todo.text}')
   input(type='hidden', name='_method', value='PUT')
  p
   input(type='submit', value='Update')